.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding:0.2%;
	margin:1%;
        padding-top: 2%; 
}
.container>div{
	padding: 0.1%;
        margin:1%;
}
.col-3{width:10%;}
[class*="col-"]{
	float:center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}
a{
    text-decoration:none;
}
@media only screen and (max-width: 500px) {
}
img {
    width: 50%;
    height: auto;
    border:1Px solid black;
}
.img{
	width:100%;
}
.col-1{width:100%;}
.col-2{width:30%;}
.col-3{
    width:25%;
    border:1px solid #ddd; 
    box-shadow:3px 3px 3px #ddd;
    padding-bottom:40% 
}
.col-4{width:70%;
 box-shadow:3px 3px 3px #ddd;
 margin-left: 2%
 }
.col-5{width:10%;}
[class*="col-"]{
    float:left;
}
p
 {
 font-weight:500;
 font-size:16px;
 display:block;
 text-align:left;
 margin:2%;
 }

@media only screen and (max-width:768px){
    [class*="col-"]{
        width:100%;
    }
}
h1{
   width:90%;
   text-align:center;
    box-shadow:3px 3px 3px #ddd; 
}
h2{
    padding:1%;
    width:90%;
}
